@media (min-width:768px) and (max-width:1199px) {
    .application {
        max-width: 1100px;
        min-width: 758px;
        width: 95%;
        /* border: solid 1px #e2c08d; */
    }

    .vala-title-short {
        display: none;
    }

    .vala-title-long {
        display: block;
    }
}